$hero-bg-color: #fff;
$hero-color: $black;

.hero {
  min-height: 400px;
  position: relative;
  @media #{$medium-up} {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    min-height: 600px;
    margin-bottom: 2rem !important;
    z-index: 1;
  }
}

.hero-text {
  color: $color-white;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Montserrat", "Roboto Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
  padding: 2rem 1rem 2rem 0;
  height: 100%;
  min-height: 400px;
  @media #{$medium-up} {
    color: $hero-color;
    font-size: 24px;
  }

}

.hero-highlight {
  color: $theme-color;
}

.hero.small {
  .hero-text {
    min-height: 250px;
    max-height: 420px;
  }
}

.hero-title {
  color: $color-white;
  margin-top: 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.06em;
  @media #{$medium-up} {
    color: $hero-color;
    margin-bottom: 0.2em;
    font-size: 60px;
  }
  @media #{$large-up} {
    //margin-bottom: 0.2em;
    //font-size: 110px;
  }
}
.hero-body {
  @media #{$large-up} {
    //font-size: 50px;
  }
}

.hero-image {
  background-image: url("/img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  &::before {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba($black, 0.5);

  }
  @media #{$medium-up} {
    position: relative;
    margin-right: -2rem;
    background-image: url("/img/background-large.webp");
    &::before {
      background-color: transparent;
      box-shadow: inset 0px 0px 5px 4px rgb(255, 255, 255);
    }
  }
  _::-webkit-full-page-media, _:future, :root .safari_only {
    // Safari 
    background-image: url("/img/background.jpg");
    @media #{$medium-up} {
      background-image: url("/img/background-large.jpg");
    }
  }
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  // IE9+ CSS
  .hero-image {
    background-image: url("/img/background.jpg");
    @media #{$medium-up} {
      background-image: url("/img/background-large.jpg");
    }
  }
}

.hero-text {
  h1,
  h2,
  h3 {
    color: $color-white;
    font-family: "Montserrat", "Roboto Light", sans-serif;
    @media #{$medium-up} {
      color: $hero-color;
    }
  }
}
