.home-highlight {
  & h1 {
    color: $color-blue-800;
  }
}

.home-content {
  @include large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $margin-8;
  }
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: $padding-10 $padding-0;
  background-color: $color-green-700;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: $line-height-10;
}
.stat-number {
  color: $color-white;
  font-size: $font-size-5xl;
  margin-bottom: $margin-1;
}
.stat-text {
  font-size: $font-size-2xl;
  color: $color-white;
  text-transform: uppercase;
}

.communities {
  padding-top: $padding-4 $padding-0;
}

.youtube-player-container {
  margin: $margin-8 $margin-0;
  @include large {
    margin: $margin-0;
  }
}

iframe.youtube-player {
  max-width: 100%;
}

.blurred {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include medium {
    &::before {
      display: block;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
      box-shadow: inset 0px 0px 5px 4px rgb(255, 255, 255);
    }
  }
}

.knowledge-content {
  > .bacon {
    margin-bottom: $margin-8;
    @include medium {
      margin-left: -8rem;
      margin-bottom: 0;
    }
  }
  @include medium {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    column-gap: $margin-8;
    align-items: center;
  }
  @include large {
    grid-template-columns: 0.8fr 1fr;
  }
}

.diversity-content {
  @include medium {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $margin-8;
  }
}

// From here, we have all the background layout with animations and everything

.bg-theme {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}

$bg-circle-border: 2px;
.bg-circle {
  border: $bg-circle-border dashed rgba($color-gray-400, .7);
  border-radius: 50%;
  z-index: -10;
  animation: appear .5s;
  &.dotted {
    border-style: dotted;
  }
  &.animated {
    animation: rotating 400s linear infinite;
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@mixin bg-circle($size, $top: 0, $left: $top) {
  width: $size;
  height: $size;
  position: absolute;
  @if $top != 0 or $left != 0 {
    top: $top;
    left: $left;
  } 
  .bg-circle {
    $innerSize: $size - 40px;
    width: $innerSize;
    height: $innerSize;
    position: absolute;
    top: 20px - $bg-circle-border;
    left: 20px - $bg-circle-border;
  }
}
@mixin bg-circle-pattern($baseOffset: 0) {
  $offset: $baseOffset * 12;
  $topOffset: $baseOffset * 3220px;
  .bg-circle {
    &:nth-child(#{$offset + 1}) {
      
      @include bg-circle(600px, -160px + $topOffset, -14%);
      @include medium {
        display: block;
        @include bg-circle(600px, -160px + $topOffset, -30%);
      }
      @include large {
        @include bg-circle(600px, -160px  + $topOffset, -15%);
      }
    }
    &:nth-child(#{$offset + 2}) {
      @include bg-circle(300px, 440px + $topOffset, -14%);
      @include medium {
        @include bg-circle(300px, 390px + $topOffset, 27%);
      }
      @include large {
        @include bg-circle(300px, 390px + $topOffset, 40%);
      }
    }
    &:nth-child(#{$offset + 3}) {
      @include bg-circle(450px, 510px + $topOffset, 75%);
    }
    &:nth-child(#{$offset + 4}) {
      @include bg-circle(250px, 820px + $topOffset, 22%);
      @include medium {
        @include bg-circle(250px, 820px + $topOffset, 35%);
      }
    }
    &:nth-child(#{$offset + 5}) {
      @include bg-circle(450px, 1250px + $topOffset, -55%);
      @include medium {
        @include bg-circle(450px, 1250px + $topOffset, -5%);
      }
      @include large {
        @include bg-circle(450px, 980px + $topOffset, -5%);
      }
    }
    &:nth-child(#{$offset + 6}) {
      @include bg-circle(380px, 1290px + $topOffset, 60%);
      @include large {
        @include bg-circle(520px, 1290px + $topOffset, 60%);
      }
    }
    &:nth-child(#{$offset + 7}) {
      @include bg-circle(360px, 1720px + $topOffset, 37%);
      @include large {
        @include bg-circle(460px, 1680px + $topOffset, -10%);
      }
    }
    &:nth-child(#{$offset + 8}) {
      @include bg-circle(160px, 2175px + $topOffset, 22%);
      @include large {
        @include bg-circle(160px, 2075px + $topOffset, 45%);
      }
    }
    &:nth-child(#{$offset + 9}) {
      @include bg-circle(290px, 2270px + $topOffset, 65%);
    }
    &:nth-child(#{$offset + 10}) {
      @include bg-circle(290px, 2675px + $topOffset, 4%);
      @include large {
        @include bg-circle(390px, 2470px + $topOffset, 20%);
      }
    }
    &:nth-child(#{$offset + 11}) {
      @include bg-circle(210px, 2880px + $topOffset, 60%);
    }
    &:nth-child(#{$offset + 12}) {
      @include bg-circle(150px, 3220px + $topOffset, 75%);
    }
  }
}

@include bg-circle-pattern();
@include bg-circle-pattern(1);
@include bg-circle-pattern(2);

.bg-circle {
  &:nth-child(2n) {
    @extend .dotted;
  }
}

