.job > ul {
  @extend ul.square;
}

.jobs {
  @include large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $margin-4;
  }
}

.job-item {
  display: flex;
  border: 1px solid $color-border;
  border-radius: 3px;
  padding: $padding-4;
  align-items: center;
}

.job-item-sponsor {
  @extend .sponsor-img;
  width: 120px;
  padding-right: $padding-4;
}

.job-item-content {
  border-left: 1px solid $color-border;
  padding-left: $padding-4;
  font-size: $font-size-l;
  flex: 1;
}

.job-item-title, .salary {
  font-size: $font-size-xl;
}

.job-item-details {
  flex: 1;
}

.job-item-header, .job-item-details-container {
  @include medium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.salary {
  color: $color-green-700;
  margin-top: $margin-1;
}

.location, .tags {
  display: inline;
  padding-right: $padding-2;
}

.tags {
  color: $color-blue-600;
  display: block;
}
