$standardWidth: 120px;
$silverWidth: 150px;
$goldWidth: 170px;
$platinumWidth: 200px;

$sponsorPadding: 20px;
$sponsorsHeight: 60px;

.sponsor-category {
  margin: $margin-4 $margin-0;
  border-bottom: 1px solid $color-border;
  padding: $padding-4 $padding-0;
  @include medium {
    display: grid;
    grid-template-columns: 140px 1fr;
  }
}

.sponsor-category-name {
  align-items: center;
  display: flex;
  font-size: $font-size-2xl;
}

.category-sponsors {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include medium {
    display: flex;
    flex-wrap: wrap;
  }
  > .sponsor {
    padding: $sponsorPadding / 2 $sponsorPadding;
    height: $sponsorsHeight + $sponsorPadding * 2;
    max-width: $standardWidth + $sponsorPadding * 2;
  }
  &.silver > .sponsor {
    max-width: $silverWidth + $sponsorPadding * 2;
  }
  &.gold > .sponsor  {
    max-width: $goldWidth + $sponsorPadding * 2;
  }
  &.platinum > .sponsor  {
    max-width: $platinumWidth + $sponsorPadding * 2;
  }
}

.sponsors-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin-4 $margin-8;
  padding: $padding-4 $padding-0;
  justify-content: center;
  align-items: center;
  @include medium {
    grid-template-columns: repeat(5, 1fr);
  }
  @include large {
    grid-template-columns: repeat(7, 1fr);
  }
}

.sponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $sponsorsHeight;
}

.sponsor-img {
  max-height: $sponsorsHeight;
}

.numbers {
  display: grid;
  grid-gap: $margin-4;
  align-items: center;
  grid-auto-rows: 1fr;
  padding-top: $padding-4;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  @include large {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.number-and-text {
  text-align: center;
  height: 100%;
  > .number {
    font-size: $font-size-4xl;
    @include small {
      //font-size: $font-size-6xl;
    }
  }
  > .text {
    font-size: $font-size-base;
    @include small {
      font-size: $font-size-xl;
    }
  }
}

.graphics {
  padding-top: $padding-12;
  display: grid;
  grid-template-columns: 1fr;
  @include large {
    grid-template-columns: 1fr 1fr;
  }
}

@mixin graph($color-primary, $color-base: $color-gray-900) {
  .graph-svg {
    max-width: 600px;
  }
  g {
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        path {
          fill: scale-color($color-base, $lightness: 10% * $i) !important;
        }
      }
    }
    path {
      stroke-width: 0.25rem;
      /*
      &.primary {
        fill: $color-primary !important;
      }
      */
    }
  }
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $padding-12;
  &.experience-graph {
    @include graph($color-green-500, $color-teal-900);
  }
  &.roles-graph {
    @include graph($color-orange-500, $color-blue-900);
  }
}

.graph-title {
  text-transform: uppercase;
}