$button-bg: $color-gray-200;
$button-border-color: $color-gray-300;
$button-color: $color-gray-900;
$button-primary-bg: $color-green-700;
$button-primary-border-color: $color-green-800;
$button-primary-color: $color-white;
$button-info-bg: $color-orange-600;
$button-info-border-color: $color-orange-700;
$button-info-color: $color-white;

.button {
  padding: $padding-4 $padding-8;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid $button-border-color;
  border-bottom-width: 3px;
  background: $button-bg;
  color: $button-color;
  margin: $margin-0 $margin-2 $margin-4 $margin-0;
  font-size: $font-size-l;

  &:focus, &:hover, &:active {
    background-color: darken($button-bg, 5%);
    border-color: darken($button-border-color, 5%);
    color: $button-color;
  } 
  &.primary {
    background: $button-primary-bg;
    color: $button-primary-color;
    border-color: $button-primary-border-color;
    &:focus, &:hover, &:active {
      background-color: darken($button-primary-bg, 5%);
      border-color: darken($button-primary-border-color, 5%);
      color: $button-primary-color;
    } 
  }
  &.info {
    background: $button-info-bg;
    color: $button-info-color;
    border-color: $button-info-border-color;
    &:focus, &:hover, &:active {
      background-color: darken($button-info-bg, 5%);
      border-color: darken($button-info-border-color, 5%);
      color: $button-info-color;
    }
  }
  &.small {
    padding: $padding-2 $padding-4;
    font-size: $font-size-base;
  }
}

.button-small {
  font-family: $heavyFontFamily;
  font-size: $font-size-base;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
}

// a bar of buttons
.actions {
  margin-top: $margin-6;
  text-align: left;
}

