.cookie-container {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;

  background: rgba($color-black,0.9);
  color: $color-white;
  padding: $padding-8 0;
}

.cookie-title {
  color: $color-white;
}

.cookie-btn {
  margin-bottom: 0;
}

@include medium {
  .cookie-description {
    margin-bottom: 0;
  }
}
