.communities {
  padding-top: $padding-4;
  padding: $padding-4 $padding-0;
  text-align: center;
  grid-gap: $margin-4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  justify-content: center;
  align-items: center;
  grid-auto-rows: 1fr;
}

.community {
  white-space: nowrap;
  opacity: 0.6;
  transition: opacity 0.3s ease-out;
  filter: grayscale(100%);
  &:hover,
  &:focus,
  &:active {
    filter: none;
    opacity: 1;
  }
}

.community-logo {
  max-width: 100%;
  max-height: 60px;
}