$hero-bg-color: $color-white;
$hero-color: $black;

.hero {
  min-height: 400px;
  position: relative;
  @include medium {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: $padding-8;
    min-height: 600px;
    margin-bottom: $margin-8 !important;
    z-index: 1;
  }
}

.hero-text {
  color: $color-white;
  font-size: $font-size-xl;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
  padding: $padding-8 $padding-4 $padding-8 $padding-0;
  height: 100%;
  min-height: 400px;
  @include medium {
    color: $hero-color;
    font-size: $font-size-2xl;
  }

}

.hero-highlight {
  color: $color-green-400;
  @include medium {
    color: $color-theme;
  }
}

.hero.small {
  .hero-text {
    min-height: 250px;
    max-height: 420px;
  }
}

.hero-body {
  line-height: $line-height-tight;
  font-size: $font-size-2xl;
  margin-bottom: $margin-6;
  @include large {
    font-size: $font-size-4xl;
    margin-bottom: $margin-8;
  }
}

.hero-title {
  font-family: $heavyFontFamily;
  font-weight: 800;
  text-transform: uppercase;
  color: $color-white;
  margin-top: $margin-0;
  font-size: $font-size-5xl;
  line-height: $line-height-xtight;
  letter-spacing: -0.06em;
  @include medium {
    color: $hero-color;
    margin-bottom: $margin-2;
    font-size: $font-size-6xl;
  }
}

.hero-image {
  background-image: url("/img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  &::before {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba($black, 0.5);
  }
  @include medium {
    position: relative;
    margin-right: -$margin-8;
    background-image: url("/img/background-large.webp");
    //clip-path: polygon(50% 0%, 93% 8%, 100% 60%, 91% 100%, 6% 100%, 14% 62%, 2% 19%);
    &::before {
      background-color: transparent;
      background-image: url('/img/broken-wall.svg');
      background-size: cover;
    }
  }
  _::-webkit-full-page-media, _:future, :root .safari_only {
    // Safari 
    background-image: url("/img/background.jpg");
    @include medium {
      background-image: url("/img/background-large.jpg");
    }
  }
}

// IE9+ CSS
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  .hero-image {
    background-image: url("/img/background.jpg");
    @include medium {
      background-image: url("/img/background-large.jpg");
    }
  }
}

.hero-text {
  h1,
  h2,
  h3 {
    color: $color-white;
    font-family: "Montserrat", "Roboto Light", sans-serif;
    @include medium {
      color: $hero-color;
    }
  }
}

.hero-actions {
  .button {
    font-family: $sansFontFamily;
    font-size: $font-size-xl;
  }
  .message {
    font-size: $font-size-xl;
    text-transform: none;
    display: inline-block;
    background-color: rgba($color-yellow-800, .7);
    > a {
      color: $color-blue-300;
      &:hover, &:focus {
        background-color: $color-blue-100;
        color: $color-blue-900;
      }
    }
    @include medium {
      background-color: rgba($color-yellow-500, .3);
      > a {
        color: $color-blue-800;
        &:hover, &:focus {
          background-color: $color-blue-100;
          color: $color-blue-900;
        }
      }
    }
  }
}