.info {
  > section {
    margin-top: $margin-4;
    padding: $padding-8 $padding-0 $padding-4;
  }
  h3 {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    font-size: $font-size-xl;
  }
}
.zebra > section:nth-child(2n +1) {
  background-color: rgba($color-gray-300, .4);
}

.info-subtitle {
  margin-top: $margin-8;
}

.transport-details {
  margin-bottom: $margin-4;
  font-size: $font-size-xl;
  @include medium {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.transport-item {
  display: flex;
  align-items: center;
  padding: $padding-2 $padding-0;
  margin-right: $margin-6;
}

.transport-separator {
  margin: $margin-0 $margin-2;
}

.transport {
  text-decoration: none;
  white-space: nowrap;
}

.metro, .bus {
  margin-right: $margin-4;
  fill: $black;
  width: 2rem;
  height: 2rem;
}