<hr>
<section class="content padding">
  <h1>{{i18n "PreviousEdition"}}</h1>
  <p>{{i18n "TheBestOf2019"}}</p>
  <div class="previous-edition">
    {{ range slice (dict "title" "Mi guía de estilos para el diseño orientado a objetos - Luis Ruiz" "id" "VcPoF1K2hEI") (dict "title" "HTML. El estándar que lo va a petar - Juanjo Montiel y Ramón Corominas" "id" "py7RB_xtD3o") (dict "title" "Shaping a Smarter Market, Empowering Decisions through Big Data and One Global Platform - A.Hurtado" "id" "ZgLZmX54CbI") }}
      {{ partial "youtube-video.html" . }}
    {{ end }}
    <a class="previous-edition-link" href="https://2019.commit-conf.com" aria-label="{{i18n "ViewMoreOf2019"}}">&raquo; {{i18n "View2019"}}</a>
  </div>
</section>