<div class="transport-details">
  <div class="transport-item">
    <img src="/img/train.svg" class="metro" alt="Metro logo">
    <a href="https://www.metromadrid.es/es/linea/ml3" target="_blank" title="{{i18n "ClickToSeeRoute"}}" class="transport" rel="noopener noreferrer">
      <span>Metro L3 (Montepríncipe)</span>
    </a>
  </div>
  <div class="transport-item">
    <img src="/img/bus.svg" class="bus" alt="Bus logo">
    <a class="transport" href="http://www.madridbuses.com/autobuses-interurbanos/horarios-571-madrid-pozuelo-de-alarcon-boadilla-del-monte.html" target="_blank" title="{{i18n "ClickToSeeRoute"}}" rel="noopener noreferrer">
      <span>Bus 571</span>
    </a>
    <span class="transport-separator">·</span>
    <a class="transport" href="http://www.madridbuses.com/autobuses-interurbanos/horarios-573-madrid-pozuelo-de-alarcon-boadilla-del-monte.html" target="_blank" title="{{i18n "ClickToSeeRoute"}}" rel="noopener noreferrer">
      <span>Bus 573</span>
    </a>
  </div>
</div>  