{{ define "main"}}
<section class="content padding">
  <h1 class="lead">Page not found</h1>
  <p class="highlight">
    Sorry, but we could not find the page that you are looking for.
    <a href="/">Go to the homepage</a>
  </p>
  <p class="text-center">
    <img src="/img/404.jpg" class="not-found" />
  </p>
  {{ range $index, $element := $.Site.Data.helloworld }}
  <div class="random-entry{{if ne $index 0}} hidden{{end}}">
    <p>
      In the meantime, this is how you write a Hello World for {{.language}}:
    </p>
    <pre>{{.code}}</pre>
  </div>
  {{ end }}
</section>
{{ end }} 
{{ define "js" }}
  {{ $random := resources.Get "js/random-entry.js" }}
  {{ $js := $random | resources.Minify | fingerprint }}
  <script src="{{ $js.Permalink }}" defer></script>
{{ end }}
