// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Default body styles
body {
  background: $color-white;
  color: $black;
  font-family: $sansFontFamily;
  line-height: $line-height-normal;
  margin: $margin-0;
  padding: $padding-0;
  font-display: swap;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: $margin-0;
  padding: $padding-0;
}

a {
  cursor: pointer;
  color: $color-link;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }

  & > img {
    border: none;
  }
}

p {
  margin-bottom: $margin-4;
  font-size: $font-size-xl;
  @include medium {
    text-align: justify;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lightFontFamily;
  font-weight: 300;
  color: $color-title;
  line-height: $line-height-tight;
  margin-top: 0;

  & > a {
    color: inherit;
  }
}

h1 {
  font-size: $font-size-4xl;
  margin-bottom: $margin-3;
  @include small {
    font-size: $font-size-5xl;
  }
}
h2 {
  font-size: $font-size-2xl;
  margin-bottom: $margin-2;
  @include small {
    font-size: $font-size-3xl;
  }
}
h3 {
  font-size: $font-size-2xl;
  margin-bottom: $margin-2;
}

hr {
  border: solid $color-gray-400;
  border-width: 1px 0 0;
  clear: both;
  height: 1px;
  margin: $margin-10 $margin-0;
}

// small font, will use gray color
small,
.small {
  font-size: $font-size-l;
  line-height: inherit;
  color: $color-gray-700;
}

// Lists
ul,
ol,
dl {
  list-style-position: outside;
  margin-bottom: $margin-4;
}

$list-side-margin: 2rem;
ul {
  list-style-type: none;
}
.square {
  list-style-type: square;
  margin-left: $list-side-margin;
}

/* Ordered Lists */
ol {
  margin-left: $list-side-margin;
}

/* Definition Lists */
dl {
  dt {
    font-weight: bold;
  }
}

// container with max-width 980px
.content {
  padding: $padding-0 $padding-8;
  width: 100%;
  @include small {
    padding: 0 $padding-10;
  }
}

.highlight {
  font-size: $font-size-xl;
  color: $color-teal-700;
  @include small {
    font-size: $font-size-2xl;
  }
}

pre {
  border: 1px solid $color-border;
  padding: $padding-4;
  font-size: $font-size-s;
  border-radius: 3px;
}

.main-and-aside {
  & > aside {
    margin-bottom: $margin-6;
  }
  @include medium {
    // block of text with image aside
    display: flex;
    flex-direction: row;
    align-items: center;
    & > .main {
      flex-grow: 1;
      padding-right: $padding-4;
    }
  }
}

// no leading image in the page (e.g. cookies.html)
h1.lead {
  margin-top: $margin-8;
}

quote {
  border-radius: 3px;
  border: 1px solid $color-blue-800;
  border-left-width: 5px;
  display: block;
  padding: $padding-4;
  background-color: rgba($color-blue-200, 0.3);
}

.quote-source {
  margin-bottom: $margin-0;
  text-align: right;
  font-size: $font-size-l;
}

.padding {
  padding-top: $padding-10;
  padding-bottom: $padding-10;
}

.border-top {
  border-top: 1px solid $color-gray-200;
}

.border-bottom {
  border-bottom: 1px solid $color-gray-200;
}

@include large {
  // two columns of text with same weight
  .two-columns {
    column-count: 2;
    column-gap: $margin-12;
    margin-bottom: $margin-4;
  }
}

// big desktop
@include extra-large {
  .content {
    max-width: 1280px;
    margin: $margin-0 auto;
  }
}
