$footer-link-color: $color-white;
$footer-bg: $color-gray-800;
$footer-theme-2-bg: $color-gray-900;

$footer-padding: $padding-10;

footer {
  width: 100%;
  margin-top: $margin-10;
}

.footer-row {
  padding-bottom: $footer-padding;
  background: $footer-bg;
  &.theme-2 {
    background: $footer-theme-2-bg;
  }

  & > .content {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}
.footer-column {
  padding-top: $footer-padding;
  margin-bottom: $margin-0;
  margin-right: $margin-4;
  flex-grow: 1;
}
.footer-column-title {
  text-transform: uppercase;
  color: $color-orange-500;
  margin-bottom: $margin-4;
  font-weight: bold;
  font-size: $font-size-l;
  letter-spacing: 1px;
}
.footer-link {
  color: $footer-link-color;
  transition: color .2s ease;
  font-size: $font-size-base;
  text-decoration: none;
  display: block;
  padding: $padding-2 0;
  &:hover, &:focus, &:active {
    color: $footer-link-color;
    text-decoration: underline;
  }
}
.logo-footer {
  width: 120px;
  height: 26px;
  text-indent: -10000px;
  overflow: hidden;
  display: block;
  background-image: url('/img/logo-white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
  flex-grow: 1;
}
.extrema-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.extrema {
  width: 130px;
  height: 22px;
  display: inline-block;
  text-indent: -100000px;
  overflow: hidden;
  background: url(/img/extrema.png) no-repeat 0 0;
  background-size: contain;
}

@include medium {
  .footer-row > .content.aligned {
    flex-direction: row;
  }
}