.message {
  padding: $padding-2 $padding-4;
  background-color: rgba($color-yellow-500, .3);
  border-radius: 3px;
  border: 1px solid $color-yellow-600;
  > a {
    color: $color-blue-800;
    &:hover, &:focus {
      background-color: $color-blue-100;
      color: $color-blue-900;
    }
  }
}