// Typography
$sansFontFamily: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontFamily: Consolas, Monaco, "Liberation Mono", Courier, monospace;
$lightFontFamily: Roboto Light, Futura, Georgia, helvetica, arial, sans-serif;
$heavyFontFamily: Montserrat, Futura, Georgia, helvetica, arial, sans-serif;

// --- Line height ---
// Extracted from https://tailwindcss.com/docs/line-height
$line-height-xtight: 1;
$line-height-tight: 1.25;
$line-height-snug: 1.375;
$line-height-normal: 1.5;
$line-height-relaxed: 1.625;
$line-height-loose: 2;
$line-height-3: 0.75rem;
$line-height-4: 1rem;
$line-height-5: 1.25rem;
$line-height-6: 1.5rem;
$line-height-7: 1.75rem;
$line-height-8: 2rem;
$line-height-9: 2.25rem;
$line-height-10: 2.5rem;

// --- Font sizes ---

$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-base: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 4rem;

// margins
// See https://tailwindcss.com/docs/margin
$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 0.75rem;
$margin-4: 1rem;
$margin-5: 1.25rem;
$margin-6: 1.5rem;
$margin-8: 2rem;
$margin-10: 2.5rem;
$margin-12: 3rem;
$margin-16: 4rem;
$margin-20: 5rem;

// paddings
// See https://tailwindcss.com/docs/margin
$padding-0: 0;
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 0.75rem;
$padding-4: 1rem;
$padding-5: 1.25rem;
$padding-6: 1.5rem;
$padding-8: 2rem;
$padding-10: 2.5rem;
$padding-12: 3rem;
$padding-16: 4rem;
$padding-20: 5rem;

// Colors
//
// Colors taken from https://tailwindcss.com/docs/customizing-colors
//

$color-black: #000;
$color-white: #fff;

$color-gray-100: #f7fafc;
$color-gray-200: #edf2f7;
$color-gray-300: #e2e8f0;
$color-gray-400: #cbd5e0;
$color-gray-500: #a0aec0;
$color-gray-600: #718096;
$color-gray-700: #4a5568;
$color-gray-800: #2d3748;
$color-gray-900: #1a202c;

$color-red-100: #fff5f5;
$color-red-200: #fed7d7;
$color-red-300: #feb2b2;
$color-red-400: #fc8181;
$color-red-500: #f56565;
$color-red-600: #e53e3e;
$color-red-700: #c53030;
$color-red-800: #9b2c2c;
$color-red-900: #742a2a;

$color-orange-100: #fffaf0;
$color-orange-200: #feebc8;
$color-orange-300: #fbd38d;
$color-orange-400: #f6ad55;
$color-orange-500: #ed8936;
$color-orange-600: #dd6b20;
$color-orange-700: #c05621;
$color-orange-800: #9c4221;
$color-orange-900: #7b341e;

$color-yellow-100: #fffff0;
$color-yellow-200: #fefcbf;
$color-yellow-300: #faf089;
$color-yellow-400: #f6e05e;
$color-yellow-500: #ecc94b;
$color-yellow-600: #d69e2e;
$color-yellow-700: #b7791f;
$color-yellow-800: #975a16;
$color-yellow-900: #744210;

$color-green-100: #f0fff4;
$color-green-200: #c6f6d5;
$color-green-300: #9ae6b4;
$color-green-400: #68d391;
$color-green-500: #48bb78;
$color-green-600: #38a169;
$color-green-700: #2f855a;
$color-green-800: #276749;
$color-green-900: #22543d;

$color-teal-100: #e6fffa;
$color-teal-200: #b2f5ea;
$color-teal-300: #81e6d9;
$color-teal-400: #4fd1c5;
$color-teal-500: #38b2ac;
$color-teal-600: #319795;
$color-teal-700: #2c7a7b;
$color-teal-800: #285e61;
$color-teal-900: #234e52;

$color-blue-100: #ebf8ff;
$color-blue-200: #bee3f8;
$color-blue-300: #90cdf4;
$color-blue-400: #63b3ed;
$color-blue-500: #4299e1;
$color-blue-600: #3182ce;
$color-blue-700: #2b6cb0;
$color-blue-800: #2c5282;
$color-blue-900: #2a4365;

$color-indigo-100: #ebf4ff;
$color-indigo-200: #c3dafe;
$color-indigo-300: #a3bffa;
$color-indigo-400: #7f9cf5;
$color-indigo-500: #667eea;
$color-indigo-600: #5a67d8;
$color-indigo-700: #4c51bf;
$color-indigo-800: #434190;
$color-indigo-900: #3c366b;

$color-purple-100: #faf5ff;
$color-purple-200: #e9d8fd;
$color-purple-300: #d6bcfa;
$color-purple-400: #b794f4;
$color-purple-500: #9f7aea;
$color-purple-600: #805ad5;
$color-purple-700: #6b46c1;
$color-purple-800: #553c9a;
$color-purple-900: #44337a;

$color-pink-100: #fff5f7;
$color-pink-200: #fed7e2;
$color-pink-300: #fbb6ce;
$color-pink-400: #f687b3;
$color-pink-500: #ed64a6;
$color-pink-600: #d53f8c;
$color-pink-700: #b83280;
$color-pink-800: #97266d;
$color-pink-900: #702459;

// component colors
$color-body-bg: $color-gray-100 !default;
$color-body-fg: $color-gray-900;
$color-link: $color-blue-700;
$color-link-hover: $color-blue-800;
$color-border: $color-gray-300;

// basic colors
$black: #333;
/*
$gray-dark: #252a29;
$gray: #888;
$gray-light: #ccc;
$gray-lighter: #eee;
$white: #fff;
$red: #a9150a;
$purple-dark: #8700cc;
$blue-light: #c1ebf9;
$blue: #008cba;
$blue-dark: #193c48;
$orange: #f49e0c;
$pink: #cc0076;
$yellow: #ffe564;
$green: #278a71;
*/
// semantic colors

$color-link: $color-blue-700;
$color-link-hover: $color-blue-800;
$color-title: $color-blue-800;
//$border-color: #eee;
$color-theme: $color-green-700;